@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 2rem;
  height: 6em;
  background-color: #04113E;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  animation: slideDown 0.8s ease forwards;
  
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  max-height: 4rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav ul.active {
  transform: translateX(0);
  opacity: 1;
}

.logo {
  margin-left: 1em;
  max-width: 10em;
}

.nav ul.inactive {
  transform: translateX(100%);
  opacity: 0;
}

.nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header.scrolled .nav ul li a {
  color: #04113E;
}

.nav ul li a:hover {
  color: #f5a623;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(255, 0, 0);
  z-index: 1100;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-toggle:hover {
  transform: rotate(90deg);
  color: #f5a623;
}

.header.scrolled .menu-toggle {
  color: #04113E;
}

.menuToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuToggle svg {
  color: white; /* Cor padrão */
  transition: color 0.3s ease;
}

.menuToggle svg:hover {
  color: #f5a623; /* Cor quando passar o mouse */
}

.header.scrolled .menuToggle svg {
  color: #0e246d; /* Cor do ícone quando o cabeçalho está rolado */
}


@media (max-width: 768px) {
  .nav ul {
    display: none; /* Menu oculto por padrão */
    background-color: #4dbeff; /* Fundo claro */
    margin-top: 6em;
    border-radius: 0px 0px 0px 10px ;
  }

  .nav ul.active {
    display: flex; /* Exibe o menu quando ativo */
    flex-direction: column; /* Alinha itens verticalmente */
    position: fixed; /* Fixa posição do menu */
    top: 0; /* Início da tela */
    right: 0; /* Encosta no lado direito */
    width: 10%; /* Ocupa 70% da largura da tela */
    height: 40%; /* Ocupa toda a altura */
    background-color: #164ec9; /* Fundo com cor definida */
    justify-content: center; /* Centraliza verticalmente os itens */
    align-items: center; /* Centraliza horizontalmente os itens */
    z-index: 999; /* Garante que o menu fique por cima de outros elementos */
    padding: 7em 6em; /* Espaçamento interno */
    gap: 1rem; /* Espaçamento entre itens */
    animation: slideDown 0.5s ease forwards; /* Animação suave */
    box-shadow: -2px 0 5px #00000080; /* Sombra para destaque */
  }

  .nav ul li a {
    color: white; /* Texto branco */
    font-size: 1.2rem; /* Tamanho de fonte ajustado */
    text-decoration: none; /* Remove sublinhado */
    text-align: center; /* Centraliza texto */
  }

  .nav ul li a:hover {
    color: #ffffff; /* Cor de destaque ao passar o mouse */
  }

  .header.scrolled .nav ul li a {
    color: #ffffff;
  }
    

}
