.footerContainer {
  background-color: #081233;
  color: white;
  padding: 5rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  text-align: center; /* Alinhamento centralizado por padrão */
}

.footerInfoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1.5s 0.5s forwards;
  transition: transform 0.3s ease, color 0.3s ease; /* Transição suave para transformação e cor */
}

.footerInfoItem:hover {
  transform: scale(1.05); /* Aumenta o tamanho do item ao passar o mouse */
  color: #FFD700; /* Altera a cor para dourado (exemplo) */
}

.footerInfoItem img {
  max-width: 2em;
  transition: transform 0.3s ease; /* Transição para o ícone */
}

.footerInfoItem img:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone */
}

.footerSocial {
  display: flex;
  gap: 1rem;
}

.footerSocial img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footerSocial img:hover {
  transform: scale(1.2);
}

.footerCopyright {
  width: 100%;
  background-color: #0A0F20;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 0;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.footerContainer p,
.footerContainer a {
  color: white;
}

.footerCopyright p {
  color: white;
  font-size: 12px;
  margin: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  /* Alinhar texto à direita na versão mobile */
  .footerInfo {
    flex-direction: column;
    text-align: right; /* Alinhar os textos à direita */
    gap: 2rem;
    padding-right: 1rem; /* Adicionar um pequeno padding à direita para não grudar na borda */
  }

  .footerSocial {
    justify-content: center;
  }

  .footerInfoItem {
    justify-content: flex-start; /* Garantir que os itens fiquem alinhados à direita */
  }
}
