.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2em;
  background-color: #0a0729;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.container.visible {
  opacity: 1;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  gap: 0.5em;
}

.texto h1 {
  font-size: 24px;
  font-weight: 700;
}

.texto h2 {
  font-size: 20px;
}

.texto button {
  text-decoration: none;
  background-color: #0E246D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.texto button:hover {
  background-color: #0b1d55;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imagem img {
  width: 70%;
}

.subConteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10em;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Garante que os itens fiquem em coluna */
    gap: 20px;
    padding: 5em 2em;
    margin: 1em;
    border-radius: 10px;
  }

  .texto {
    width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
  }

  .imagem {
    width: 100%; /* Garante que a imagem também ocupe 100% da largura */
    display: flex;
    justify-content: center; /* Centraliza a imagem */
    align-items: center;
  }

  .imagem img {
    margin-top: 3em;
    width: 80%; /* Ajusta o tamanho da imagem para caber melhor na tela */
  }

  .subConteiner {
    flex-direction: column; /* Adicionado para evitar conflitos de direção */
    margin-left: 0;
  }

  .texto h1 {
    font-size: 18px;
  }

  .texto h2 {
    font-size: 13px;
  }

  .texto button {
    font-size: 13px;
  }
}
